@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/theme.css" layer(theme);

@theme {
  --color-first: #162d4f;
  --color-second: #1d3d6c;
  --color-third: #cf5800;
  --color-fourth: #1E293B;
  --color-fifth: #020817;

  --font-lexend: Lexend;
}

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    color: #1e1e1e; /* cor padrão texto claro */
    background-color: #F8FAFC;
    transition: background-color 0.3s, color 0.3s;
  }

  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-[#09090B] text-white;
    }
  }

  a {
    color: #0097b5;
    text-decoration: underline;
  }

  .dark a {
    color: #2cbfb3;
  }

  h1 {
    font-size: var(--text-2xl);
    font-weight: bold;
  }

  h2 {
    font-size: var(--text-xl);
  }

  h3 {
    font-size: var(--text-lg);
  }
}